$text-color: #FFF;

@font-face {
  font-family: Hack;
  src: url(./../font/Hack-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

#app-root {
  font-family: Hack, sans-serif;
  color: $text-color;
  background-color: #313131;

  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  .left-col,
  .right-col {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .col {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .center-children {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .flex {
    flex: 1;
  }

  .time-and-date {
    margin: auto;
    text-align: center;

    .time {
      font-size: 10em;
    }

    .date {
      font-size: 2em;
    }
  }

  .weather {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.2em;
    }

    table {
      color: $text-color;
      font-size: 0.9em;
      border-collapse: collapse;

      td {
        padding: 1em;
      }

      .time {
        font-size: 1.2em;
        border-bottom: 2px solid #FFF;
      }

      .icon {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .news {
    overflow: auto;

    .source {
      margin-top: 2em;
      text-align: center;
      font-size: 1.5em;
    }

    .news-article {
      margin: 2.5em auto;
      vertical-align: top;

      a {
        color: inherit;
        text-decoration: none;
        display: block;
      }

      img {
        max-width: 100%;
      }
    }
  }
}
